<div id="<%= dom_id startseite %>">
  <p>
    <strong>Angefordertedaten:</strong>
    <%= startseite.angeforderteDaten %>
  </p>

  <p>
    <strong>Letzteprozesse:</strong>
    <%= startseite.letzteProzesse %>
  </p>

</div>
