<h1>Editing startseite</h1>

<%= render "form", startseite: @startseite %>

<br>

<div>
  <%= link_to "Show this startseite", @startseite %> |
  <%= link_to "Back to startseites", startseites_path %>
</div>
