<ul class="nav justify-content-center sticky-bottom">
  <li class="nav-item">
    <li class="nav-item">
    <%= link_to 'About Us', home_about_path, class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Impressum</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>