<nav class="navbar fixed-bottom">
  <div class="container-md">
    

   <a class="navbar-brand">
    <%= link_to "About Us", home_about_path, class:"nav-link active" %>
  </a>


<a class="navbar-brand">
<%= link_to "Impressum", home_impressum_path, class:"nav-link active" %>


 
 
  </div>
</nav>

