<h1> About Us <h1>

<h4> Wer sind wir? </h4>

<p>Wir sind vier Studenten der DHBW-Mannheim. <br/>
In unserem Studium befassen wir uns täglich mit der Digitalisierung der Verwaltung, denn unser Studiumsschwerpunkt ist E-Government. <br/><br/>
</p>

<a class="link", href="https://www.mannheim.dhbw.de/dual-studieren/bachelor/wirtschaft/wirtschaftsinformatik/e-government"> Mehr zu E-Government an der DHBW </a>

<br/><br/>

<h4> Was ist unsere Vision? </h4>

<p> Wir träumen von einer digitalen Verwaltung! <br/>
Anträge online stellen? <br/>
Automatisierte Anträge? <br/>
Digitale Bescheide? <br>
Nicht mehr aufs Amt müssen?</p>

<h4> Das ist auch unser Traum </h4>
<p>Mehr dazu:</p> <a class="link", href="https://verwaltung.bund.de/"> Bundesportal </a>