<h1>Anzustoßende Anträge</h1> 

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Elterngeld-Antrag</h5>
        <p class="card-text">Hier können Sie den Antrag auf Ausschüttung von Elterngeld stellen.</p>

<button type="button" class="btn btn-primary"><%= link_to "Antrag stellen", home_antstellen_path, class:"text-white"%></button>

        
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Personalausweis verlängern</h5>
        <p class="card-text">Hier können Sie den Antrag auf Verlängerung des Personalausweises stellen.</p>
        <button type="button" class="btn btn-primary"><%= link_to "Antrag stellen", home_antstellen_path, class:"text-white"%></button>
      </div>
    </div>
  </div>
</div>

