<h1>Elterngeld-Antrag</h1>

<h4>Daten des Kindes:</h4>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Name, Vorname</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Max Musterfrau">
    </div>
  </div>

<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Geburtsdatum</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="09.07.2022">
    </div>
  </div>
<br/>
<h4>Daten des Antragstellers:</h4>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Name, Vorname</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Petra Musterfrau">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Geburtsdatum</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="20.09.1986">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Adresse</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="12345, Hamburg

       Straße 4">
    </div>
  </div>


  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Beruf</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>

  <h4>Festlegung des Bezugszeitraums:</h4>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">a) vom Lebensmonat des Kindes bis</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">b) vom Lebensmonat des Kindes bis</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">c) vom Lebensmonat des Kindes bis</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>