<h1>Impressum</h1>
<br/><br/>
<b> Bundesverwaltungsamt </b>

<p>
Barbarastraße 1
50735 Köln
</p>
<b> Postanschrift: </b>
<p>
Bundesverwaltungsamt
50728 Köln
Deutschland
</p>
<b>Kontakt:</b>
<p>
Telefon: +49 22899 358-0
Telefon 2: +49 221 758-0
Fax: +49 22899 358-2823
E-Mail: Schreiben Sie uns
Homepage: www.bundesverwaltungsamt.de
</p>
<b>Verantwortlich:</b>
<p>
Bundesverwaltungsamt Köln
Referat SQ 5 – Dienstleistungen für Internetportale der Verwaltung
Harald Beispiel (Redaktionsleitung)
</p>
<b>Hosting und Betrieb: </b>
<p>
Informationstechnikzentrum Bund (ITZBund)
www.itzbund.de</p>