
<h1>Willkommen</h1>



 



<div id="carouselExampleDark" class="carousel carousel-dark slide w-25 p-3 " data-bs-ride="carousel">
	
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Nachricht 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Nachricht 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Nachricht 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">



      <img src="" class="d-block w-100" alt="Nachricht 1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Nachricht 1</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">


      <img src="..." class="d-block w-100" alt="Nachricht 2">
      <div class="carousel-caption d-none d-md-block">
        <h5>Nachricht 2</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">


      <img src="..." class="d-block w-100" alt="Nachricht 3">
      <div class="carousel-caption d-none d-md-block">
        <h5>Nachricht 3</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
