
<h1>Das Digitale Zuhause</h1>

<br><br>

<div class="card mb-3">
  <%= image_tag "digi.png", alt:"Digitalisierung", width:"1115", height:"400"%> 
  <div class="card-body">
    <h5 class="card-title">Was ist das Digitale Zuhause?</h5>
    <p class="card-text">TLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <p class="card-text"><small class="text-muted"></small></p>
  </div>
</div>
<br><br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Was ist die Digitalisierung der Verwaltung?</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <p class="card-text"><small class="text-muted"></small></p>
  </div>
  <%= image_tag "OZG.png", alt:"Digitalisierung", width:"1115", height:"600"%> 
</div>


<br/><br>
 



