


<div id="profils">
  <% @profils.each do |profil| %>
    <%= render profil %>
    <p>
      <%= link_to "Profil anzeigen", profil, class:"btn btn-primary" %>
      
    
  <% end %>




</p>
</div>