<p style="color: green"><%= notice %></p>

<%= render @profil %>

<div>


  <%= link_to "Profil bearbeiten", edit_profil_path(@profil), class:"btn btn-primary" %> |
  
  <%= button_to "Profil löschen", @profil, method: :delete, class:"btn btn-primary btn-sm" %>
</div>
