<div id="<%= dom_id mitteilungen %>">
  <p>
    <strong>Mitteilungen:</strong>
    <%= mitteilungen.mitteilungen %>
  </p>

  <p>
    <strong>Updatesvorgänge:</strong>
    <%= mitteilungen.updatesVorgänge %>
  </p>

</div>
