<h1>Editing mitteilungen</h1>

<%= render "form", mitteilungen: @mitteilungen %>

<br>

<div>
  <%= link_to "Show this mitteilungen", @mitteilungen %> |
  <%= link_to "Back to mitteilungens", mitteilungens_path %>
</div>
