<h1>Editing zugiffsberechtigungen</h1>

<%= render "form", zugiffsberechtigungen: @zugiffsberechtigungen %>

<br>

<div>
  <%= link_to "Show this zugiffsberechtigungen", @zugiffsberechtigungen %> |
  <%= link_to "Back to zugiffsberechtigungens", zugiffsberechtigungens_path %>
</div>
