<h1>New zugiffsberechtigungen</h1>

<%= render "form", zugiffsberechtigungen: @zugiffsberechtigungen %>

<br>

<div>
  <%= link_to "Back to zugiffsberechtigungens", zugiffsberechtigungens_path %>
</div>
